/* ----- GLOBAL ------ */

body{
    background-color: #c5c078;

}
#main{
    background-image: url("/static/img/logo_big.png");
    background-repeat:no-repeat;
    background-position:center;
}


.lead ol,il,ul{
font-size: 20px;
font-weight: 200;
line-height: 1.4;
}

ol{
font-size: 21px;
font-weight: 200;
line-height: 1.4;
}

a:link,a:hover,a:active,a:focus{
    color: #333333;
}

a:visited{
    color: #101010;
}

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

.page-header{
    border-bottom: 1px solid #000000;
}
/* ----- HEADER ------ */

.navbar {
    color: #ffffff;
    text-transform: uppercase;
}

.nav > li > a:hover,
 .nav > li > a:focus{
  background-color: #617a58;
}

.navbar a:link,
.navbar a:hover,
.navbar a:active{
    color: #ffffff;
}
.navbar a:visited{
    color: #e9ece7;
}

.navbar img{
    margin: 10px;
}

#project_logo{
    margin: 1px;
    height: 40px;
    float: left;;
}
#login_div a{
    float: right;
    color: black;
    margin-top: 10px;
    margin-right: 10px;
}
#top_image{
    height: 100px;
    float: left;
}
#top_image2{
    height: 100px;
    float: right;
    margin-right: 20%;
}
#topbar{
     background-color: #c5c078;
}
#topimagebar{
     background-color: #638751;
}
#navibar{
     background-color: #4b6441;
}

/* ----- FOOTER ------ */

#footer {
    background-color: #638751;
}
.text-muted{
    color: #ffffff;
}
/* ----- DROGA HARCERZA ------ */
.ramki{
color: inherit;
border: 20px;
margin-top: 50px;
min-height: 300px;
}

#wartosc {
    position:absolute;
    background-color: #eeeeee;
z-index: 1;
}

input[type='range'] {
		-webkit-appearance: none;
		background-image: url('/static/img/slider-thumb.png');
        background-repeat:no-repeat;background-position:center top;
		border-radius: 5px;
		box-shadow: inset 0 0 5px #000000;
		background-color: #000000;
		height: 10px;
		vertical-align: middle;
		margin-top: 50px;
	}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-image: url('/static/img/slider-thumb.png');
    background-repeat:no-repeat;background-position:center top;
    opacity: 1;
    width: 40px;
    height: 130px;
    position: relative;
    top: 0px;
    z-index: 99;
 }
::-moz-range-thumb{
    background-image: url('/static/img/slider-thumb.png');
    background-repeat:no-repeat;background-position:center top;
    width:40px;
    height:130px;
}
::-ms-thumb{
    background-image: url('/static/img/slider-thumb.png');
    background-repeat:no-repeat;background-position:center top;
    width:40px;
    height:130px;
    z-index: 9999;
    display: block;
    background-color: transparent;
}

#id_zawartosc label,
#id_ocena label{
    clear: both;
    display: block;
}

#comment_form input[type=submit],
textarea#id_zawartosc{
    line-height: normal;
    margin-right: 20px;
    border: 1px solid silver;
    border: 1px solid #333333;
    color: white;
    background-color: #4b6441;
}

div#capcha_div{
    width: 25%;
    display: inline-block;
}

input#id_captcha_1{
    width: 71%;
    margin-left: 8px;
    margin-right: 0px;
}

img.captcha{
    width: 70px;
}

.errorlist{
    width: 25%;
    margin-left: 50%;
}

.proposal_error_tr{
    border: 2px solid red !important;
}

.proposal .desc{
    text-align: justify;
}

.proposal_table th,
.proposal_table td{
    padding: 5px;
    text-align: center;
    vertical-align: text-top;
}

.proposal_table{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.proposal_table tr{
    border-bottom: 1px solid rgb(131, 131, 131);
}

.proposal_submit{
    margin: 20px;
    text-align: right;
}
.proposal{
    min-height: 500px;
}

.proposal input{
    line-height: normal;
    width: 25%;
    margin-right: 20px;
    border: 1px solid silver;
    border: 1px solid #333333;
    color: white;
    padding: 10px;
    background-color: #4b6441;
}
.checkboxThree input[type=checkbox] {
    visibility: hidden;
}

#narzedzie_desc{
    font-size: smaller;
}

.checkboxThree {
    width: 80px;
    height: 25px;
    background: #4b6441;
    margin: 5px;

    border-radius: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.checkboxThree:before {
    content: 'On';
    position: absolute;
    top: 3px;
    left: 13px;
    height: 2px;
    color: #c5c078;
    font-size: 16px;
}
.checkboxThree:after {
    content: 'Off';
    position: absolute;
    top: 3px;
    left: 50px;
    height: 2px;
    color: #638751;
    font-size: 16px;
}

.checkboxThree label {
    display: block;
    width: 42px;
    height: 19px;
    border-radius: 50px;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 3px;
    z-index: 1;
    left: 3px;
    background: #638751;
}

.checkboxThree input[type=checkbox]:checked + label {
    left: 35px;
    background: #c5c078;
}

td:empty {
  visibility: none;
}

.proposal caption{
    font-size: x-large;
    text-align: left;
    margin: 10px;
    font-style: oblique;
}

.proposal_error{
    color: red;
    text-align: center;
    font-size: large;
}
.proposal tfoot tr{
     border: 0px solid silver;
}

.narzedzia_detal,
.narzedzia_list{
    width: 50%;
    margin-bottom: 20px;
    padding: 5px;
}

.narzedzia_table{
    margin: 10px;
}

.narzedzia_table th,
.narzedzia_table td{
    text-align: center;
    vertical-align: top;
    padding: 5px;
}

.narzedzia_table td:hover{
    font-weight: bold !important;
}

.separator{
    border-bottom: solid gray 1px;
}

.narzedzia_detal{
    float: right;
}

.narzedzia_list{
    float: left;
}
