{% extends "base/index.html" %}
{% block title %}Supermarket Metodyczny{% endblock %}
{% load staticfiles %}
{% block content %}
        <div class="page-header">
          <h1>Dlaczego supermarket</h1>
        </div>
<div class="col-lg-6">
        <p class="lead"> Idea zrodziła się podczas kursów metodycznych. Każdy opowiadał anegdoty, polecał książki, opowiadał o sytualcjach wychowaczych jakie spotkał na swojej harcerskiej drodze. Nie było jednak miejsca w którym wszystkie te rzeczy były spisane. Niebyło miejsca w którym przyszły instruktor czy instruktorka mogła by zapisać czy przeczytać o choćby części z tych rzeczy. Ta strona miała być miejscem gdzie każdy wychowawca zaczerpnie pomysłów. Gdzie każdy doświadczony instruktor zapiszę swoją wiedzę dla potomnych. Gdzie Wrocławianin przeczyta o pomysłach na harcerstwo Gdańszczanina.</p>
<br/>
<p class="lead">Dlaczego SUPERMARKET? Bo musi być szybko, sprawnie i duży wybór...</p> 
</div>
	<img class="col-lg-6"  src="{% static "img/kosz.jpg" %}" alt="Koszyk zakupowy"/>
</p>
{% endblock %}
