{% extends "base/index.html" %}
{% load staticfiles %}
{% block title %}Supermarket Metodyczny{% endblock %}
{% block content %}
        <div class="page-header">
          <h1>Instruktorze i Instruktorko!</h1>
        </div>
        <p class="lead" style='background-image: url("{% static "img/krzyz.png" %}");background-repeat:no-repeat;background-position:center bottom;height:450px;'>Nieważne jakie wiatry cie przywiały w to miejsce czy jakie szlaki cie tu doprowadziły. Trafiłeś do metodycznego Supermarketu. W tym miejscu możesz znaleźć 
 pomysły innych instruktorów. Jeśli niewiesz jakie metody zastosować wobec problemu przed jakim stanęłeś z jednym ze swoich harcerzy lub harcerek, chcesz poznać nowe zagrania które mogą ci ulatwić twoją instruktorską misję, czy przygotowujesz się do roli instruktora i chcesz zobaczyć narzędzia jakimi będziesz się posługiwać; Dobrze trafiłeś!</p>
<h3 style='text-align: center;'> <a href='/na_zakupy/'>No to do dzieła...</a></h3>
{% endblock %}
