{% extends "base/index.html" %}
{% block title %}Supermarket Metodyczny{% endblock %}
{% load staticfiles %}
{% block content %}
    <div class="page-header">
        <h1>O PROJEKCIE</h1>
    </div>
    <div>
        <p class="lead">
Od czerwca ubiegłego roku w Organizacji Harcerzy ZHR prowadzony jest . Pomysł
podjęcia tej inicjatywy wzięł się z potrzeb obecnych i byłych drużynowych, ich obserwacji i wniosków:
· Drużynowi dzielę się wiedzę i pomysłami w swoim środowisku, na kursach, w kuluarach różnych spotkań, ale ich
dooewiadczenia zostaję tam, gdzie zostały zdobyte; nikt inny z nich nie korzysta, nie ma szerokiej płaszczyzny wymiany dooewiadczeń
między drużynowymi.
          <ul>
            <li>Instruktorzy popełniaję błędy, które ktooe już wczeoeniej popełnił, bo nie podsumowuje się prowadzonej pracy.</li>
            <li>Stosowane narzędzia często sę nieatrakcyjne i nieskuteczne.</li>
            <li>Każdy z nas zna rozmaite sposoby rozwięzywania problemów wychowawczych (np. jak zmotywować harcerza, który nie
chce się rozwijać, do wyboru sprawnooeci i zdobycia jej), ale niemabazy opisujęcej je.</li>
            <li>Drużynowi często robią coś, bo ktośe wcześeniej to robił, co powoduje, że nie uwzględnia się wymiaru wychowawczego w
podejmowanych działaniach.</li>
          </ul>
        </p>
        <h3>ZAŁOŻENIA SUPERMARKETU METODYCZNEGO:</h3>
         <p class="lead" >
        <ol type="rodzaj numeracji">
<li>Wsparcie metodyczne drużynowych, czyli:
  <ul>
    <li>stworzenie bazy pomysłów metodycznych (formy, techniki, patenty) zbieranych podczas kursów instruktorskich,
a następnie uporzędkowanie ich w oparciu o tzw. Drogę Harcerza;</li>
    <li>podjęcie przez instruktorów dyskursu w ramach prowadzonych na kursach i zbiórkach instruktorskich zajęć, także
poprzez „Supermarket” czy wymianę opiniiwInternecie (Ruch doskonalenia metodycznego);</li>
    <li>konsultacja metodyczna stosowanych narzędzi poprzez wystawiane komentarze i oceny metodyczne konsultantów.</li>
  </ul>
</li>
<li>Narzędzie wychowawcze dla instruktorów: osoby zaangażowane w pracę zespołu (przewodnicy) maję szansę zdobyć
dooewiadczenie i kompetencje, które wykorzystajęwswoich macierzystych choręgwiach.</li>
<li>Supermarket ma być permanentnym kursem drużynowych, jego zadaniem jest pomóc uporzędkować wiedzę
drużynowych na kursach metodycznych iwprzestrzeni internetowej oraz doskonalić ich warsztat pracy.</li>
          <li>„Supermarket metodyczny” pomyslany jest jako szkielet kursów instruktorskich to szansa na uporzędkowane
kształcenie drużynowych, z którego powstanie materiał majęcy przełożenie na pozostałe drużyny wcałej Organizacji.</li>
</ol>
 </p>
      </div>
{% endblock %}
