{% extends "base/index.html" %}
{% block title %}Supermarket Metodyczny{% endblock %}
{% block content %}
        <div class="page-header">
          <h1>{{forma.nazwa}}</h1>
        </div>
<div class="row marketing">
        <div class="col-lg-6 ramki">
		<p class="lead" style="position:relative;top:-40px">Pomysły:</p>
 		{% for pom in  pomysly %}
            	<p class="lead"><a href="{% url 'pomysl' pom.pk %}" onmouseover="show_it({{pom.pk}}, this)" onmouseout="$('#szczegoly').html('');">{{ pom.nazwa }}</a></p>
        	{% endfor %}
        </div>

        <div class="col-lg-6">
		<p class="lead" style="position:relative;top:30px">Szczegóły:</p>
		<div id='szczegoly' style='position: fixed; top:100px;'></div>
        </div>
      </div>
<script type="text/javascript">
	function show_it(pk, element) {
		$('#szczegoly').load(Urls.pomysl_raw(pk)).css('top', $(element).offset()['top']);
	}
</script>
{% endblock %}
