{% extends "base/index.html" %}
{% block title %}Supermarket Metodyczny{% endblock %}
{% block content %}
<div class="page-header">
    {% block list_title %}
    {% endblock %}
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Nazwa</th>
        <th>Opis</th>
    </tr>
    </thead>
    {% for obj in object_list %}
    <tr>
        <td>{{ obj.pk }}</td>
        <td>{% if has_url %}<a href="{{obj.get_absolute_url}}">{{ obj.nazwa }}</a>{% else %}{{ obj.nazwa }}{% endif %}</td>
        <td>{{ obj.opis|truncatewords:20 }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="3">BRAK</td></tr>
    {% endfor %}
</table>
{% endblock %}
