{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/docs-assets/ico/favicon.png">
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/sticky-footer-navbar.css" %}" rel="stylesheet">
    <link href="{% static "style.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="{% url 'js_reverse' %}" type="text/javascript"></script>
    {% block extrahead %}{% endblock %}
  </head>

  <body>
    <div>
      <div id="wrap" class="navbar" role="navigation">
        <div id="topbar">
          <div class="container">
            <img src="{% static "img/project_logo.png" %}" alt="project logo" id="project_logo">
            <div id="login_div">
              <a href="{% url 'admin:index' %}"/>Rejestracja</a> <a href="{% url 'admin:index' %}"/>Logowanie</a>
            </div>
          </div>
        </div>
        <div id="topimagebar">
          <div class="container">
            <img src="{% static "img/top_image.png" %}" alt="top image" id="top_image">
            <img src="{% static "img/top_image2.png" %}" alt="top image" id="top_image2">
          </div>
        </div>
        <div id="navibar">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="{% url 'about' %}">O Projekcie</a></li>
                <li><a href="{% url 'contact' %}">Zespół</a></li>
                <li><a href="{% url 'supermarket' %}">Dołącz</a></li>
                <li><a href="{% url 'supermarket' %}">Droga Harcerza</a></li>
                <li><a href="{% url 'supermarket' %}">Patenty</a></li>
              </ul>
            </div>
            <!--/.nav-collapse -->
          </div>
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
        <div id="main">
        {% block content %}{% endblock %}
        </div>
     </div>
     </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Powered by Django with Bootstrap, code by Szymon Kuliński</p>
      </div>
    </div>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
  </body>
</html>

