<div class="komenarz_form" >
   <script>
    $("#comment_form").submit(function() {



        $.ajax({
               type: "POST",
               url: '{% url 'komentarz_raw_nowy' prop_pk %}',
               data: $("#comment_form").serialize(),
               success: function(data)
               {
                   $("#comment_form").replaceWith("<p>Komentarz został wysłany</p>")
               }
             });

        return false;
    });
   </script>
   <form id="comment_form">
        {% csrf_token %}
        {% for field in form %}
                {{ field.errors }}
                {% if field.id_for_label == 'id_propozycja'%}
                    {{ field }}
                {% else %}
                    <div id="{{ field.id_for_label }}"><label for="{{ field.id_for_label }}"> {{ field.label }}:</label>{{ field }}</div>
                {% endif %}
        {% endfor %}
        <label></label><input type="submit" value="Dodaj" />
    </form>
</div>