{% extends "base/index.html" %}
{% block title %}Supermarket Metodyczny{% endblock %}
{% load staticfiles %}
{% block content %}
        <div class="page-header">
          <h1>ZESPÓŁ</h1>
        </div>
<h3>Komendant projektu/ szef zespołu:</h3>
        <p class="lead">
          Hm. Piotr Szymankiewicz HR
          </p>
<h3>Sekretarz:</h3>
        <p class="lead">
          HO Bartłomiej Ziętal
          </p>
<h3>Zespół metodyczny:</h3>
        <p class="lead">
        Hm. Piotr Szymankiewicz HR<br/>
Pwd. Mikołaj Żurek HO<br/>
Pwd. Marek Stefan HO<br/>
Pwd. Kacper Bacik HO<br/>
Phm. Michał Homenda HR<br/>
Pwd. Mateusz Idzikowski HO<br/>
Pwd. Paweł Marciniak HO
          </p>
<h3>Zespół techniczny:</h3>
          <p class="lead">
HO Szymon Kuliński<br/>
HR JacekTomaszewski
        </p>

{% endblock %}
