{% extends "base/index.html" %}
{% block title %}Supermarket Metodyczny{% endblock %}
{% load staticfiles %}
{% block content %}
        <div class="page-header">
          <h1>ZESPÓŁ</h1>
        </div>
<h3>Komendant projektu/ szef zespołu:</h3>
        <p class="lead">
          Hm. Piotr Szymankiewicz HR
          </p>
<h3>Zespół metodyczny:</h3>
        <p class="lead">
        Hm. Piotr Szymankiewicz HR<br/>
Pwd. Kacper Bacik HO<br/>
          </p>
<h3>Zespół techniczny:</h3>
          <p class="lead">
HO Szymon Kuliński<br/>
pwd. Adrian Siembida HO
        </p>

{% endblock %}
