{% extends "base/index.html" %}
{% block title %}Supermarket Metodyczny{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>DROGA HARCERZA</h1>
    </div>
    <br>
	<p class="lead">Wybierz wiek:</p>
    <br>
<!--
	<div style="text-align: center;"></div>
	<p id="wartosc"></p>
-->
	<!--<input id='suwak' style="width:100%" type="range" value='0' min='0' max='{{max}}' onchange="setLabelPosition(this.value)">--->
    <div style="width:1140px; height:0px;border: 3px solid black;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px; "></div>
    <div id="elem" style="width:1140px; height:100px;">

    </div>

    <select id="elem_data" style="display: none">
      <optgroup label="XI">
        <option value="1/11">Styczeń</option>
        <option value="2/11">Luty</option>
        <option value="3/11">Marzec</option>
        <option value="4/11">Kwiecień</option>
        <option value="5/11">Maj</option>
        <option value="6/11">Czerwiec</option>
        <option value="7/11">Lipiec</option>
        <option value="8/11">Sierpień</option>
        <option value="9/11">Wrzesień</option>
        <option value="10/11">Październik</option>
        <option value="11/11">Listopad</option>
        <option value="12/11">Grudzień</option>
      </optgroup>
      <optgroup label="XII">
        <option value="1/12">Styczeń</option>
        <option value="2/12">Luty</option>
        <option value="3/12">Marzec</option>
        <option value="4/12">Kwiecień</option>
        <option value="5/12">Maj</option>
        <option value="6/12">Czerwiec</option>
        <option value="7/12">Lipiec</option>
        <option value="8/12">Sierpień</option>
        <option value="9/12">Wrzesień</option>
        <option value="10/12">Październik</option>
        <option value="11/12">Listopad</option>
        <option value="12/12">Grudzień</option>
      </optgroup>
      <optgroup label="XIII">
        <option value="1/13">Styczeń</option>
        <option value="2/13">Luty</option>
        <option value="3/13">Marzec</option>
        <option value="4/13">Kwiecień</option>
        <option value="5/13">Maj</option>
        <option value="6/13">Czerwiec</option>
        <option value="7/13">Lipiec</option>
        <option value="8/13">Sierpień</option>
        <option value="9/13">Wrzesień</option>
        <option value="10/13">Październik</option>
        <option value="11/13">Listopad</option>
        <option value="12/13">Grudzień</option>
      </optgroup>
      <optgroup label="XIV">
       <option value="1/14">Styczeń</option>
        <option value="2/14">Luty</option>
        <option value="3/14">Marzec</option>
        <option value="4/14">Kwiecień</option>
        <option value="5/14">Maj</option>
        <option value="6/14">Czerwiec</option>
        <option value="7/14">Lipiec</option>
        <option value="8/14">Sierpień</option>
        <option value="9/14">Wrzesień</option>
        <option value="10/14">Październik</option>
        <option value="11/14">Listopad</option>
        <option value="12/14">Grudzień</option>
      </optgroup>
      <optgroup label="XV">
        <option value="1/15">Styczeń</option>
        <option value="2/15">Luty</option>
        <option value="3/15">Marzec</option>
        <option value="4/15">Kwiecień</option>
        <option value="5/15">Maj</option>
        <option value="6/15">Czerwiec</option>
        <option value="7/15">Lipiec</option>
        <option value="8/15">Sierpień</option>
        <option value="9/15">Wrzesień</option>
        <option value="10/15">Październik</option>
        <option value="11/15">Listopad</option>
        <option value="12/15">Grudzień</option>
      </optgroup>
      <optgroup label="XVI">
      <option value="1/16">Styczeń</option>
        <option value="2/16">Luty</option>
        <option value="3/16">Marzec</option>
        <option value="4/16">Kwiecień</option>
        <option value="5/16">Maj</option>
        <option value="6/16">Czerwiec</option>
        <option value="7/16">Lipiec</option>
        <option value="8/16">Sierpień</option>
        <option value="9/16">Wrzesień</option>
        <option value="10/16">Październik</option>
        <option value="11/16">Listopad</option>
        <option value="12/16">Grudzień</option>
      </optgroup>
      <optgroup label="XVII">
       <option value="1/17">Styczeń</option>
        <option value="2/17">Luty</option>
        <option value="3/17">Marzec</option>
        <option value="4/17">Kwiecień</option>
        <option value="5/17">Maj</option>
        <option value="6/17">Czerwiec</option>
        <option value="7/17">Lipiec</option>
        <option value="8/17">Sierpień</option>
        <option value="9/17">Wrzesień</option>
        <option value="10/17">Październik</option>
        <option value="11/17">Listopad</option>
        <option value="12/17">Grudzień</option>
      </optgroup>
      <optgroup label="XVIII">
        <option value="1/18">Styczeń</option>
        <option value="2/18">Luty</option>
        <option value="3/18">Marzec</option>
        <option value="4/18">Kwiecień</option>
        <option value="5/18">Maj</option>
        <option value="6/18">Czerwiec</option>
        <option value="7/18">Lipiec</option>
        <option value="8/18">Sierpień</option>
        <option value="9/18">Wrzesień</option>
        <option value="10/18">Październik</option>
        <option value="11/18">Listopad</option>
        <option value="12/18">Grudzień</option>
      </optgroup>
      <optgroup label="XIX">
        <option value="1/19">Styczeń</option>
        <option value="2/19">Luty</option>
        <option value="3/19">Marzec</option>
        <option value="4/19">Kwiecień</option>
        <option value="5/19">Maj</option>
        <option value="6/19">Czerwiec</option>
        <option value="7/19">Lipiec</option>
        <option value="8/19">Sierpień</option>
        <option value="9/19">Wrzesień</option>
        <option value="10/19">Październik</option>
        <option value="11/19">Listopad</option>
        <option value="12/19">Grudzień</option>
      </optgroup>
    </select>
    <br>
    <div class="row marketing">
        <div class="col-lg-6 ramki">
		<p class="lead" id='nazwa'></p>
		<p class="lead"><span id='wiek'></span>  <span id='stopien'></span></p>
		<p class="lead" id='opis'></p>
		<p class="lead">Możliwe funkcję:</p>
		<ul id='funkcje'>
		</ul>
        </div>

        <div class="col-lg-6 ramki">
		<p class="lead">Dostępne formy:</p>
		<p style='margin: 10px' id='formy'></p>
        </div>
      </div>
{% endblock %}
{% block scripts %}
<style>
.year{
  border: 1px solid black;
  width: 50px;
  float: left;
  margin: 5px;
}
.month{
  border: 1px solid black;
  width: 100px;
  float: left;
  margin: 5px;
}
</style>
<script type="text/javascript">
    var zoom_stage=0;
    var ZOOM_STAGE_YEARS = 0;
    var ZOOM_STAGE_MONTHS = 1;
    //display
    function show_years(){
        $('#elem').empty();
        $('#elem_data').children().map(function(){
          var new_elem = $( '<div/>', {
              id: $(this).attr('label'),
              text: $(this).attr('label')
          });
          new_elem.addClass('year')
          $('#elem').append(new_elem);
        });
        $('.year').click(function(e) {
          if(zoom_stage == ZOOM_STAGE_YEARS){
            ++zoom_stage;
            show_months($('#elem_data').find("optgroup[label='"+$(this).attr('id')+"']"));
          }
        });
    }
    function show_months(year){
        $('#elem').empty();
        year.children().map(function(){
        var new_elem = $( '<div/>', {
            id: $(this).val(),
            text: $(this).val()
        });
        new_elem.addClass('month')
        $('#elem').append(new_elem);
      });
    }

    //init
    show_years();
    //zooming
     //FF
     $('#elem').bind('DOMMouseScroll', function(e){
         if(e.originalEvent.detail > 0) {
              if(zoom_stage == ZOOM_STAGE_MONTHS){
                --zoom_stage;
                 show_years();
              }
         }else {
              e.target.click()
         }
         console.log(e.target)
         return false;
     });
     //IE, Opera, Safari
     $('#elem').bind('mousewheel', function(e){
         if(e.originalEvent.wheelDelta < 0) {
               if(zoom_stage == ZOOM_STAGE_MONTHS){
                --zoom_stage;
                 show_years();
              }
         }else {
           if(e.target.class = 'year'){
            e.target.click()
           }
         }
         return false;
     });
    </script>
	{% endblock %}
