{% extends "base/index.html" %}
{% block title %}Supermarket Metodyczny{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>DROGA HARCERZA</h1>
    </div>
    <br>
	<p class="lead">Wybierz wiek:</p>
    <br>
<!--
	<div style="text-align: center;"></div>
	<p id="wartosc"></p>
-->
	<input id='suwak' style="width:100%" type="range" value='0' min='0' max='{{max}}' onchange="setLabelPosition(this.value)">
    <br>
    <div class="row marketing">
        <div class="col-lg-6 ramki">
		<p class="lead" id='nazwa'></p>
		<p class="lead"><span id='wiek'></span>  <span id='stopien'></span></p>
		<p class="lead" id='opis'></p>
		<p class="lead">Możliwe funkcję:</p>
		<ul id='funkcje'>
		</ul>
        </div>

        <div class="col-lg-6 ramki">
		<p class="lead">Dostępne formy:</p>
		<p style='margin: 10px' id='formy'></p>
        </div>
      </div>
    <script type="text/javascript">
		var etapy = [];
		{% for obj in object_list %}
		    etapy.push({
                pk: "{{ obj.pk }}",
                nazwa: "{{ obj.nazwa|escapejs }}",
                opis:"{{ obj.opis|linebreaks|escapejs }}",
                wiek:"{{ obj.wiek_min }} - {{ obj.wiek_max }}",
                stopien:"{{ obj.get_stopien_display|escapejs }}",
                funkcja:[ {% for fun in obj.funkcja.all %}'{{ fun|escapejs }}',{% endfor %} ]
            });
		{% endfor %}
    	function setLabelPosition(newValue) {
            document.getElementById("wiek").innerHTML=etapy[newValue].wiek;
            document.getElementById("stopien").innerHTML=etapy[newValue].stopien;
            document.getElementById("opis").innerHTML=etapy[newValue].opis;
            document.getElementById("nazwa").innerHTML=etapy[newValue].nazwa;
            document.getElementById("funkcje").innerHTML= '';
            if(etapy[newValue].funkcja.length>=0){
                for (var x in etapy[newValue].funkcja){
                    document.getElementById("funkcje").innerHTML+='<li>'+etapy[newValue].funkcja[x]+'</li>';
                }
            }else{
                document.getElementById("funkcje").innerHTML='<li>Brak powiązanych funkcji</li>';
            }
            $('#formy').load(Urls.supermarket_formy(etapy[newValue].pk));
    	}
	    setLabelPosition($('#suwak').val());
    </script>
	{% endblock %}
