{% extends "base/index.html" %}
{% block title %}Supermarket Metodyczny{% endblock %}
{% block content %}
{% load static%}
    <div class="page-header">
        <h1>DROGA HARCERZA</h1>
    </div>
    <br>
	<p class="lead">Wybierz wiek:</p>
    <br>
<!--
	<div style="text-align: center;"></div>
	<p id="wartosc"></p>
-->
	<!--<input id='suwak' style="width:100%" type="range" value='0' min='0' max='{{max}}' onchange="setLabelPosition(this.value)">--->
    <div style="width:1140px; height:0px;border: 3px solid black;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px; "></div>
    <div id="elem" style="width:1000px; height:100px;margin-left:auto;margin-right: auto;">

    </div>
    <br>
    <div id="slider_thumb"></div>
    <div class="row marketing">
        <div class="col-lg-2 ramki">
        <p id="okres_name"></p>
		<p id='narzedzia'></p>
        </div>
        <div class="col-lg-3 ramki">
		<p id='wg'></p>
        </div>
        <div class="col-lg-3 ramki">
		<p id='prop'></p>
        </div>

        <div class="col-lg-4 ramki" id="propozycja">

        </div>
      </div>
{% endblock %}
{% block scripts %}
<style>
.year{
  width: 100px;
  float: left;
  margin: 5px;
  text-align:center
}
.month{
  width: 73px;
  float: left;
  margin: 5px;
  text-align:center
}

.small-font{
    font-size: small !important;
}

.month::before,
.year::before{
  background-position:center top;
  display: block;
  background-repeat:no-repeat;
  background-image: url('{% static "img/dot.gif" %}');
  background-size: 10px 10px;
  content:"";
  position:relative;
  z-index:100;
  top:-15px;
  width: 100%;
  height: 20px;
}

#slider_thumb{
  position:absolute;
  background-repeat:no-repeat;
  background-image: url('http://staff.washington.edu/tabrooks/343INFO/YUIverticalSlider/thumb-bar.gif');
  background-size:  26px;
  z-index: 200;
  width: 50px;
  height: 30px;
}

.row ul li{
    list-style-type: none;
    font-size: 14px;
}

.row ul{
    margin: 0px;
    padding: 0px;
    -webkit-padding-start: 0px;
}

.row ul li:hover {
    font-weight:bold;
}

p#okres_name{
    text-align: center;
    font-size: x-large;
}

p{
    text-align: left;
    font-size: large;
}

.credit{
    text-align: center;
}

#propozycja li{
    margin-top: 5px;
}

#propozycja ul li:hover{
     font-weight:Normal;
}
</style>
<script type="text/javascript">
    var zoom_stage=0;
    var ZOOM_STAGE_YEARS = 0;
    var ZOOM_STAGE_MONTHS = 1;

    var etapy = [];
		{% for obj in okresy %}
		    etapy.push({
		            pk : {{obj.pk}},
		            repr : "{{obj.nazwa}}<br>{{obj.rok}}",
                nazwa: "{{ obj.nazwa|escapejs }}",
                opis:"{{ obj.opis|linebreaks|escapejs }}",
                rok:"{{obj.rok}}"
            });
		{% endfor %}

		var lata = [];
		{% for obj in lata %}
		    lata.push("{{ obj.nazwa|escapejs }}");
		{% endfor %}

    //display
    function show_years(){
        $('#elem').empty();
        $('#slider_thumb').hide()
        setSliderThumb($('.year').first())
        for (i = 0; i < lata.length; i++) {
            var new_elem = $( '<div/>', {
              id: lata[i],
              html: lata[i]
          });
          new_elem.addClass('year')
          $('#elem').append(new_elem);
        }
        $('.year').click(function(e) {
          if(zoom_stage == ZOOM_STAGE_YEARS){
            ++zoom_stage;
            show_months($(this));
          }
        });
    }



    function setSliderThumb(month){
        var slider = $('#slider_thumb');
        var bottomTop = month.prop('offsetTop');
        var bottomLeft = month.prop('offsetLeft');
        slider.css('top', bottomTop-16);
        slider.css('left', bottomLeft+22);
    }

    function show_months(year){
        $('#elem').empty();
        $('#slider_thumb').show()
        for (i = 0; i < etapy.length; i++) {
        console.log(etapy[i].rok)
        console.log(year)
          if(etapy[i].rok == year.prop('id')){
            var new_elem = $( '<div/>', {
            id: etapy[i].pk,
            html: etapy[i].repr
          });
          new_elem.addClass('month')
          $('#elem').append(new_elem);
        }
      }
      $('.month').click(function(e) {
        setSliderThumb($(this))
        okres_click($(this).prop('id'))
      });
      setSliderThumb($('.month').first())
    }


    $(document).ready(function() {
      var $dragging = null;

      $(document.body).on("mousemove", function(e) {
          if ($dragging) {
              top = $dragging.prop('offsetTop');
              left = e.pageX;
              if(left < $('#main').prop('offsetLeft')+80){
                left = $('#main').prop('offsetLeft')+80
              }
              if(left >= $('#main').prop('offsetLeft')+1060){
                left = $('#main').prop('offsetLeft')+1060
              }
              $dragging.offset({
                  top: top,
                  left: left
              });
              e.preventDefault();
          }
      });

      $(document.body).on("mousedown", "#slider_thumb", function (e) {
              $dragging = $(e.target);

      });

      $(document.body).on("mouseup", function (e) {


          $('.month').each(function( index ) {
          try{
              if((($(this).prop('offsetLeft')-5) < $dragging.prop('offsetLeft')) && ($dragging.prop('offsetLeft') < ($(this).prop('offsetLeft')+78) )){
                  $(this).click();
              }
            }catch(err){;}
          });
          $dragging = null;
      });
    });
    //init
    show_years();
    //zooming
     //FF
     $('#elem').bind('DOMMouseScroll', function(e){
         if(e.originalEvent.detail > 0) {
              if(zoom_stage == ZOOM_STAGE_MONTHS){
                --zoom_stage;
                 show_years();
              }
         }else {
              e.target.click()
         }
         return false;
     });
     //IE, Opera, Safari
     $('#elem').bind('mousewheel', function(e){
         if(e.originalEvent.wheelDelta < 0) {
               if(zoom_stage == ZOOM_STAGE_MONTHS){
                --zoom_stage;
                 show_years();
              }
         }else {
           if(e.target.class = 'year'){
            e.target.click()
           }
         }
         return false;
     });

     function narzedzie_click(event){
        $("#wg").html("\
            <div id='narzedzie_desc'></div><br>\
            <p>Filtruj według:</p>\
            <ul>\
                <li name='latest'>Najnowsze</li>\
                <li name='top_rated'>Najwyżej ocenione</li>\
            </ul><br>\
            <p>Pokrewne:</p>\
            <ul>\
                <li name='bugs'>Błędy</li>\
                <li name='tradition'>Tradycje</li>\
            </ul>\
        ")
         $('#wg').find('ul').children().click({'narzedzie': $(this).attr('name')}, narzedzie_cat_click);
       $('#prop').html('')
       $('#propozycja').html('')
       $('#wg').find('ul').find('li[name="latest"]').click()
       $(this).css("font-weight","Bold");
       $(this).closest('ul').children().not(this).css("font-weight","Normal");
     }

     function propozycja_click(event){
        switch($(this).attr('class')){
            case 'bugs':
                $.get( "raw/bledy/"+$(this).attr('name')+"/", propozycja_ajax_complite)
                break;
            case 'tradition':
                $.get( "raw/tradycja/"+$(this).attr('name')+"/", propozycja_ajax_complite)
                break;
            default:
                $.get( "raw/pomysl/"+$(this).attr('name')+"/", propozycja_ajax_complite)
        }
        $(this).css("font-weight","Bold");
       $(this).closest('ul').children().not(this).css("font-weight","Normal");
     }

     function propozycja_ajax_complite( data ){
        $( "#propozycja" ).html( data );
     }

     function narzedzie_cat_click(event){
        $.get( "raw/narzedzie/"+event.data.narzedzie +"/"+$(this).attr("name")+"/", function( data ) {
            $( "#prop" ).html( '<p>Propozcyje drużyn:</p>' + data );
            $('#prop').find('ul').children().click(propozycja_click);
        });
       $(this).css("font-weight","Bold");
       $('#wg').find('ul').children().not(this).css("font-weight","Normal");
       $.get( "raw/narzedzie/"+event.data.narzedzie +"/", function( data ) {
            $( "#narzedzie_desc" ).html( '<p class="narzedzie_desc">Opis narzędzia:</p>' + data );
        });
     }

     function okres_click(okres_id) {
       $('#okres_name').html(etapy[okres_id-1].repr)
       $('#prop').html('')
       $('#propozycja').html('')
       $('#wg').html('')

       $.get( "raw/okres/"+okres_id+"/", function( data ) {
         $( "#narzedzia" ).html( '<p>Dostępne narzędzia:</p> '+data );
         $('ul.okres').children().click({'okres_id': okres_id}, narzedzie_click);
        });
     }

    </script>
	{% endblock %}
