{% extends "base/index.html" %}
{% block title %}Supermarket Metodyczny{% endblock %}
{% load staticfiles %}
{% load group_tools %}
{% block content %}
        <div class="page-header">
          <h1>ZARZĄDZAJ</h1>
        </div>
<h3>Lista użytkowników:</h3>
<table class="proposal_table">
    <col width="10%">
    <col width="20%">
    <col width="20%">
    <col width="20%">
    <col width="20%">
    <col width="10%">
    <thead>
        <tr>
            <th>Lp.</th>
            <th>Nazwa</th>
            <th>Imię i Nazwisko</th>
            <th>Konsultant</th>
            <th>Administrator</th>
            <th>Usunąć</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr {% if user.pk in zle %}class="proposal_error_tr"{% endif %}>
            <td>{{forloop.counter}}</td>
            <td>{{user.username}}</td>
            <td>{{user.first_name}} {{user.last_name}}</td>
            <td>
                <div class="checkboxThree">
                    <input type="checkbox" name="moderator" value="{{user.pk}}" id="accept_moderator_{{user.pk}}" {% if user|has_group:"Konsultant" %}checked{%endif%}>
                    <label for="accept_moderator_{{user.pk}}"></label>
                </div>

            </td>
            <td>
                <div class="checkboxThree">
                    <input type="checkbox" name="administrator" value="{{user.pk}}" id="accept_administrator_{{user.pk}}" {% if user.is_superuser %}checked{%endif%}>
                    <label for="accept_administrator_{{user.pk}}"></label>
                </div>
            </td>
            <td class="remove" value="{{user.pk}}" >X</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="7"> Brak użytkowników, więc kim ty jesteś?... </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    function toogle_moderator(){
        var check = $(this)
        $.ajax({
          type: "POST",
          url: '#',
          data: { type : 'moderator', id : $(this).attr('value'), csrfmiddlewaretoken: '{{ csrf_token }}'},
          error: function(){
            check.prop("checked", !check.is(':checked'));
            alert('Operacja niedozwolona!');
          }
        });
    }

    function toogle_administrator(){
        var check = $(this)
        $.ajax({
          type: "POST",
          url: '#',
          data: { type :'administrator', id : $(this).attr('value'), csrfmiddlewaretoken: '{{ csrf_token }}'},
          error: function(){
            check.prop("checked", !check.is(':checked'));
            alert('Operacja niedozwolona!');
          }
        });
    }

    function remove(){
        var check = $(this)
        $.ajax({
          type: "POST",
          url: '#',
          data: { type : 'remove', id : $(this).attr('value'), csrfmiddlewaretoken: '{{ csrf_token }}'},
          success: function(){
            check.closest('tr').slideUp("slow");
          },
          error: function(){
            alert('Operacja niedozwolona!');
          }
        });
    }

     $('.remove').click(remove);
     $('input[name="moderator"]').change(toogle_moderator);
     $('input[name="administrator"]').click(toogle_administrator);
    </script>
{% endblock %}
